@Styles.Render("~/Content/KoGridCss")
@Styles.Render("~/Content/budget.css")

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/koValidation")
@Scripts.Render("~/Scripts/nbudget/register.js")
<form class="form" style="margin: 10px;" data-bind="submit: register">
    <h1>Register</h1>
    <div class="form-group" data-bind="validationElement: email">
        <input type="text" class="form-control" data-bind="textInput: email" placeholder="E-mail address" />
    </div>
    <div class="form-group" data-bind="validationElement: password">
        <input type="text" class="form-control" data-bind="textInput: password" placeholder="Password" />
    </div>
    <div class="form-group" data-bind="validationElement: confirmPassword">
        <input type="text" class="form-control" data-bind="textInput: confirmPassword" placeholder="Confirm password" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-bind="enable: loginModel.isValid()">Register</button>
    </div>
    <div>Already have an account? @Html.ActionLink("Log in here.", "Index", "Login")
    </div>
</form>